[Unit]
Description=Shut the system down after a specified amount of time

[Service]
Type=oneshot
ExecStart=/usr/local/bin/timed_shutdown

[Install]
WantedBy=multi-user.target
